.main-container {
    background-color: #ededed !important;
    padding: 10px 0px;
    margin: auto;
    width: 65%;
    position: static;
}

.btn-group {
    background-color: #cbcbcb;
    display: flex;
    position: relative;
    padding: 10px;
    margin: auto;
    justify-content: center !important;
}

.btn-group button {
    background-color: #1394fc;
    border: none;
    color: white;
    padding: 20px 30px;
    margin: 0 5px;
    cursor: pointer;
}

.btn-group button:not(:last-child) {
    border-right: none;
}

.today {
    background-color: #0b7c21 !important;
}

#selectedDay {
    color: #1394fc !important;
    font-weight: 700;
}

#thisDay {
    color: #0b7c21 !important;
    font-weight: 700;
}

.text-center {
    text-align: center;
}